/*#F18C8E (light coral)
#F0B7A4 (light peach)
#FDF7EF (off-white/cream)
#568EA6 (muted blue)
#305F72 (deep slate blue)*/  
.app {
    display: flex; /* Flex container for the sidebar and content */
    height: 100vh;
}
.content {
    width: 80%; /* Adjust width as needed */
    margin-left: 15%; /* To account for the fixed sidebar width */
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    background-color: #FDF7EF;
    overflow-y: auto; /* Scroll if content exceeds view height */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap; /* Allows multiple rows of cards if needed */
    gap: 20px; /* Space between cards */
    justify-content: space-between; /* Align cards evenly */
  }
  
  h1 {
    color: #FDF7EF; /* Text color */
    font-size: 24px;
    margin-bottom: 20px;
  }